<%- include('partials/header.ejs') %>
<span>hi index</span>    
  <div class="index-app-icon"><a href="/">
    <img src="/images/logo2x3.svg"></a></div>
    <form action="/search" method="POST" class="search-form" id="searchForm">
    <div class="input-group mb-3">
      <input type="text" class="form-control" name="searchInput" id="search_input" placeholder="Type Address..." >
      <!--<% if (search != '') { %> value="<%= search %>" <% } %>-->
      <div class="input-group-append"><button class="btn btn-primary"><i class="fas fa-heart"></i></button></div>
    </div>
    </form>
       </div>
     </div>
    <div class="input-group mb-3" id="map">
      <span>hi map</span></div>
    <!-- Display geolocation data -->
    <ul class="geo-data">
      <li>Full Address: <span id="location"></span></li>
      <li>Postal Code: <span id="postal_code"></span></li>
      <li>Country: <span id="country"></span></li>
      <li>Latitude: <span id="lat"></span></li>
      <li>Longitude: <span id="lon"></span></li>
      <li>place ID: <span id="placeID"></span></li>

    </ul>

      <script>
        const m = document.getElementById('map');
        function initMap(data) {
          const options = {
            center: {
              lat: 25.0330, 
              lng: 121.5654,
            },
            zoom: 12,
          }
          const map = new google.maps.Map(m, options);
          console.dir(data);
          let searchInput = 'search_input';
          
          let autocomplete;
          autocomplete = new google.maps.places.Autocomplete((document.getElementById(searchInput)), {
            //types: ['establishment'],
            componentRestrictions: {
            country: "TW"
            }
          });

          var infowindow = new google.maps.InfoWindow();
          var marker = new google.maps.Marker({
            map: map,
            anchorPoint: new google.maps.Point(0, -29)
            });
            
            //start of func
          google.maps.event.addListener(autocomplete, 'place_changed', function () {
            marker.setVisible(false);

            var place = autocomplete.getPlace();
            console.log(place);

          if (!place.geometry) {
            window.alert("Autocomplete's returned place contains no geometry");
            return;
        }
            // If the place has a geometry, then present it on a map.
            if (place.geometry.viewport) {
                map.fitBounds(place.geometry.viewport);
            } else {
                map.setCenter(place.geometry.location);
                map.setZoom(15);
            }
            marker.setIcon(({
                url: place.icon,
                size: new google.maps.Size(71, 71),
                origin: new google.maps.Point(0, 0),
                anchor: new google.maps.Point(17, 34),
                scaledSize: new google.maps.Size(35, 35)
            }));
            marker.setPosition(place.geometry.location);
            marker.setVisible(true);
        
            var address = '';
            if (place.address_components) {
                address = [
                  (place.address_components[0] && place.address_components[0].short_name || ''),
                  (place.address_components[1] && place.address_components[1].short_name || ''),
                  (place.address_components[2] && place.address_components[2].short_name || '')
                ].join(' ');
            }
        
            infowindow.setContent('<div><strong>' + place.name + '</strong><br>' + address);
            infowindow.open(map, marker);
          
            // Location details
            for (var i = 0; i < place.address_components.length; i++) {
                if(place.address_components[i].types[0] == 'postal_code'){
                    document.getElementById('postal_code').innerHTML = place.address_components[i].long_name;
                }
                if(place.address_components[i].types[0] == 'country'){
                    document.getElementById('country').innerHTML = place.address_components[i].long_name;
                }
            }
            for (var i = 0; i < place.types.length; i++) {
              console.log(types[i]);
            }
            document.getElementById('location').innerHTML = place.formatted_address;
            document.getElementById('lat').innerHTML = place.geometry.location.lat();
            document.getElementById('lon').innerHTML = place.geometry.location.lng();
            document.getElementById('placeID').innerHTML = place.place_id;

    })
  };

          
        
      </script>
      <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCmY6mmgJxQnH8KMsyN6OwF6QPQUOIurIw&libraries=places&callback=initMap"
    ></script>
    <!--<% if (data != null && loggedIn) { data.forEach( item => { %>
    <div class="d-flex flex-row justify-content-between mb-3">
        <div class="d-flex flex-column p-3">
          <a href="<%= item.menuUrl %>" target="_blank"><img src="<%= item.icon %>" class="icon-img"></a>
          <% if (loggedIn) { %>
            <div class="mb-1 p-1">
              <a href="/menu/<%= item._id %>">Edit</a> &nbsp; 
              <a href="/menu/delete/<%= item._id %>" class="red" onclick="return confirm('Are you sure you wish to delete this?');">Delete</a>
            </div>
          <% } %>
        </div>
        <div class="menu-code pt-4 pl-4">
          <a href="<%= item.menuUrl %>" target="_blank">
            <div><i class="fa fa-book-open"></i></div>
            <span class="mb-2">
              View Menu
            </span>
          </a>
        </div>
    </div>-->
    <% }); } %>
    
<%- include('partials/footer.ejs') %>