<%- include('partials/header.ejs') %>
  <div class="index-app-icon mb-3"><a href="/">
    <img src="/images/logo2x3.svg"></a></div>
    <form action="/restaurant/new" method="POST" class="search-form" id="searchForm">

    <div class="input-group mb-3">
      <input type="text" class="form-control" name="search_input" id="search_input" placeholder="Type Address..." >
      <input type="text" class="hide" name="place_id" id="place_id" >
      <input type="text" class="hide" name="full_name" id="full_name" >
      <input type="text" class="hide" name="formatted_address" id="formatted_address" >
      <input type="text" class="hide" name="type" id="type" >

      <div class="input-group-append"><button class="btn btn-primary"><i class="fas fa-search"></i></button></div>
    </div>
    </form>

    <!--should require login? only appear on search-->

    <% if (data != null ) { data.forEach( item => { %>
      <div class="d-flex flex-row justify-content-between mb-2">
            <div class="text-center container-fluid pt-2">
              <a href="/restaurant/<%= item._id %>"><h5><%= item.full_name %></h5></a>
            </div>
        </div>
        <% }); } %>

    <div class="input-group my-3" id="map"></div>
      <script>
        const m = document.getElementById('map');
        function initMap(data) {
          const options = {
            center: {
              lat: 25.0330, 
              lng: 121.5654,
            },
            zoom: 12,
          }
          const map = new google.maps.Map(m, options);
          console.dir(data);
          let searchInput = 'search_input';
          
          let autocomplete;
          autocomplete = new google.maps.places.Autocomplete((document.getElementById(searchInput)), {
            types: ['food'],
            componentRestrictions: {
            country: "TW"
            }
          });

          var infowindow = new google.maps.InfoWindow();
          var marker = new google.maps.Marker({
            map: map,
            anchorPoint: new google.maps.Point(0, -29)
            });
            
            //moves, create marker when click on new addressin autocomplete
            //when autocomplete triggers, place_changed triggers, then function 
            google.maps.event.addListener(autocomplete, 'place_changed', function () {
            marker.setVisible(false);

            var place = autocomplete.getPlace();
            console.log(place);

          if (!place.geometry) {
            window.alert("Autocomplete's returned place contains no geometry");
            return;
        }
            // If the place has a geometry, then present it on a map.
            if (place.geometry.viewport) {
                map.fitBounds(place.geometry.viewport);
            } else {
                map.setCenter(place.geometry.location);
                map.setZoom(15);
            }
            marker.setIcon(({
                url: place.icon,
                size: new google.maps.Size(68, 68),
                origin: new google.maps.Point(0, 0),
                anchor: new google.maps.Point(17, 34),
                scaledSize: new google.maps.Size(35, 35)
            }));
            marker.setPosition(place.geometry.location);
            marker.setVisible(true);
        
            var address = '';
            if (place.address_components) {
                address = [
                  (place.address_components[0] && place.address_components[0].short_name || ''),
                  (place.address_components[1] && place.address_components[1].short_name || ''),
                  (place.address_components[2] && place.address_components[2].short_name || '')
                ].join(' ');
            }
        
            infowindow.setContent('<div><strong>' + place.name + '</strong><br>' + address);
            infowindow.open(map, marker);
          
            for (var i = 0; i < place.types.length; i++) {
              console.log(place.types[i]);
            }
            document.getElementById('place_id').value = place.place_id;
            document.getElementById('full_name').value = place.name;
            document.getElementById('formatted_address').value = place.formatted_address;
            document.getElementById('type').value = place.types[0];
            //document.getElementById('lat').innerHTML = place.geometry.location.lat();
            //document.getElementById('lon').innerHTML = place.geometry.location.lng();
            //https://www.codexworld.com/autocomplete-places-search-box-google-maps-javascript-api/
    })
  }; 
      </script>
      <script>
        // Imports the Google Cloud client library
        const {Translate} = require('@google-cloud/translate').v2;
      
        // Creates a client
        const translate = new Translate();
      
        /**
         * TODO(developer): Uncomment the following line before running the sample.
         */
        const target = 'en';
      
        async function listLanguagesWithTarget() {
          // Lists available translation language with their names in a target language
          const [languages] = await translate.getLanguages(target);
      
          console.log('Languages:');
          languages.forEach(language => console.log(language));
        }
      
        listLanguagesWithTarget();
        console.log('script accesed')
      </script>
      
      <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCmY6mmgJxQnH8KMsyN6OwF6QPQUOIurIw&libraries=places&callback=initMap"
      ></script>

    <!--<% if (data != null && loggedIn) { data.forEach( item => { %>
    <div class="d-flex flex-row justify-content-between mb-3">
        <div class="d-flex flex-column p-3">
          <a href="<%= item.menuUrl %>" target="_blank"><img src="<%= item.icon %>" class="icon-img"></a>
          <% if (loggedIn) { %>
            <div class="mb-1 p-1">
              <a href="/menu/<%= item._id %>">Edit</a> &nbsp; 
              <a href="/menu/delete/<%= item._id %>" class="red" onclick="return confirm('Are you sure you wish to delete this?');">Delete</a>
            </div>
          <% } %>
        </div>
        <div class="menu-code pt-4 pl-4">
          <a href="<%= item.menuUrl %>" target="_blank">
            <div><i class="fa fa-book-open"></i></div>
            <span class="mb-2">
              View Menu
            </span>
          </a>
        </div>
    </div>
    <% }); } %>-->
    
<%- include('partials/footer.ejs') %>