<%- include('partials/header.ejs') %>
<span>hi index</span>    
  <div class="index-app-icon"><a href="/">
    <img src="/images/logo2x3.svg"></a></div>
    <form action="/search" method="POST" class="search-form" id="searchForm">
    <div class="input-group mb-3">
      <input type="text" class="form-control" name="searchInput" id="search_input" placeholder="Type Address..." >
      <!--<% if (search != '') { %> value="<%= search %>" <% } %>-->
      <div class="input-group-append"><button class="btn btn-primary"><i class="fas fa-heart"></i></button></div>
    </div>
    </form>
       </div>
     </div>
    <div class="input-group mb-3" id="map">
      <span>hi map</span></div>
      <script>
        const m = document.getElementById('map');
        function initMap(data) {
          const options = {
            center: {
              lat: 25.0330, 
              lng: 121.5654,
            },
            zoom: 12,
          }
          const map = new google.maps.Map(m, options);
          console.dir(data);
          let searchInput = 'search_input';
          
          let autocomplete;
          autocomplete = new google.maps.places.Autocomplete((document.getElementById(searchInput)), {
            //types: ['establishment'],
            componentRestrictions: {
            country: "TW"
            }
          });
            
          google.maps.event.addListener(autocomplete, 'place_changed', function () {
            var near_place = autocomplete.getPlace();
          });
          
        }
      </script>
      <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCmY6mmgJxQnH8KMsyN6OwF6QPQUOIurIw&libraries=places&callback=initMap"
    ></script>
    <!--<% if (data != null && loggedIn) { data.forEach( item => { %>
    <div class="d-flex flex-row justify-content-between mb-3">
        <div class="d-flex flex-column p-3">
          <a href="<%= item.menuUrl %>" target="_blank"><img src="<%= item.icon %>" class="icon-img"></a>
          <% if (loggedIn) { %>
            <div class="mb-1 p-1">
              <a href="/menu/<%= item._id %>">Edit</a> &nbsp; 
              <a href="/menu/delete/<%= item._id %>" class="red" onclick="return confirm('Are you sure you wish to delete this?');">Delete</a>
            </div>
          <% } %>
        </div>
        <div class="menu-code pt-4 pl-4">
          <a href="<%= item.menuUrl %>" target="_blank">
            <div><i class="fa fa-book-open"></i></div>
            <span class="mb-2">
              View Menu
            </span>
          </a>
        </div>
    </div>-->
    <% }); } %>
    
<%- include('partials/footer.ejs') %>