<%- include('partials/header.ejs') %>

<div class="container">
  <div class="mt-5">

    <h3><%= rest.full_name %></h3>
    <form action="/rest/save" method="POST" class="search-form" id="searchForm">

      <div class="input-group-append mb-3">
        <button class="btn btn-primary"><i class="fas fa-heart"></i></button>
        <button class="btn btn-outline-success" type="submit"><%= rest.type %></button>
      </div>

    </form>

    <div class="input-group mb-3 mt-3 justify-content-center">
      <p><%= rest.formatted_address %></p>
      <iframe width="400" 
      height="300" 
      style="border:0" 
      loading="lazy" 
      allowfullscreen
      src="https://www.google.com/maps/embed/v1/place?&key=AIzaSyCmY6mmgJxQnH8KMsyN6OwF6QPQUOIurIw&q=place_id:<%= rest.place_id %>">
      </iframe>
    </div>

  </div>
</div>

<div class="input-group mb-3 mt-3 d-flex justify-content-center">

</div>

<%- include('partials/footer.ejs') %>